# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# bin folder
bin

# simulation output folder
sim_results

# eclipse's files
.settings
.classpath
.project

# IntelliJ project files
.idea
*.iml
out
gen

# Ignore everything in the PerformaceEvaluation directory
PerformaceEvaluation/*

# Except the evaluate.py file
!PerformaceEvaluation/evaluate.py

# Allow tracking of other directories if needed
!PerformaceEvaluation/*/
